body{
    background-color: #FFFFFF;
    margin: 0px;
    padding: 0px;
    margin-top: 5px;
  
}
.gricontainer{
    background-color: #EEEEEE;
    width: 90%;
    border-width: 2px;
    margin-bottom: 2px;
    margin-left: auto;
    margin-right: auto;
    text-align: -webkit-center;
}

.main-container {
    vertical-align: inherit;
    width: 90%;
    border-width: 2px;
    margin-bottom: 2px;
    margin-left: auto;
    margin-right: auto;
    text-align: -webkit-center;
}

.container1{
    background-color: #7EE5DA;
    width: 35%;
    float: left;
    margin-right: 2px;
    margin-left: auto;
  
}
.container2{
    background-color: #70CCC2;
    width: 14%;
    font-size: -1px;
    float: left;
    margin-right: 2px;
    margin-left: auto;
}
.container3{
    background-color: #62B3AA;
    width: 35%;
    font-size: -1;
    float: left;
    margin-right: 2px;
    margin-left: auto;

    }

.image-container {
    text-align: -webkit-center;
}

.text{
    /* font-size: -1;
    float:right;
    margin-top: 10px; */
    display: block;
    text-align: -webkit-center;
}

